extends layout

block content
      h1= title
      h2.text-center Create your portfolio
      //- using directive binding the controller to the view 
      div(ng-controller='createCtrl as create') 
            div.container
                  form(name='initialForm', ng-submit='create.checkSubmission(initialForm.$valid)', method='POST' novalidate)
                        div.row
                              label.col-md-1 Name
                              |       
                              input.col-md-2(type='text', name='name',ng-model='create.name' required)
                              |  
                        div.row
                              label.col-md-1 Email
                              |  
                              input.col-md-2(type='email', name='email_id',ng-model='create.email' required)
                              |
                        div.row  
                              label.col-md-1 Skills
                              |  
                              input.col-md-2(type='text', name='skills',ng-model='create.skills' required)
                              |
                        div.row
                              label.col-md-1 Summary
                              |  
                              input.col-md-6(type='text', name='summary',ng-model='create.summary' required)
                              |
                        div.row
                              div.col-md-2
                                    p  
                                          input.btn.btn-primary(type='submit', value='Create Portfolio')
                  p 
                        span Name :  
                              span(ng-show='create.check') {{create.name}} {{create.check}}

                  p 
                        span Email : 
                              span(ng-show='create.check') {{create.email}}
                  p 
                        span Skills : 
                              span(ng-show='create.check') {{create.skills}}
                  p 
                        span Summary : 
                              span(ng-show='create.check') {{create.summary}}

                  p Form is {{initialForm.$valid}}
